<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="Mage2_Blogs::content_blogs"
            title="Mage2 Blogs"
            translate="title"
            module="Mage2_Blogs"
            sortOrder="10"
            parent="Magento_Backend::content"
            resource="Magento_Backend::admin"
        />

        <add
            id="Mage2_Blogs::content_blogs_list"
            title="Blogs"
            translate="title"
            module="Mage2_Blogs"
            sortOrder="10"
            parent="Mage2_Blogs::content_blogs"
            resource="Magento_Backend::admin"
            action="mage2_blogs/blog"
        />
    </menu>
</config>
